.navigation {
    margin-bottom: 10px;
}

#testResults {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;   
}

#testResults td, #testResults th {
    border: 1px solid #ddd;
    padding: 8px;
}

#testResults th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.content {
    align-self: center;
    margin: 20px;
}

.column {
    float: left;
    width: 50%;
    flex: 50%;
}

.left {
    width: 15%;
}
  
.right {
    width: 85%;
}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}