.navigation {
    margin-bottom: 10px;
}

#testResults {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;   
}

#testResults td, #testResults th {
    border: 1px solid #ddd;
    padding: 8px;
}

#testResults th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.content {
    align-self: center;
    margin: 20px;
}